@page "/"

<div class="jumbotron">
    <h1 class="display-4">Proyecto CRUD para MCGA</h1>
    <p class="lead">¡Bienvenido al Proyecto Final de Desarrollo para MCGA! </p>
    <hr class="my-4">
    <ul style="line-height:1.8;">
        <li><b>Entrada de Datos</b> - Facilita la entrada de datos, validando tanto las entidades.</li>
        <li><b>Tablas de Datos</b> - Tablas de datos </li>
        <li><b>Autenticación</b> - Autenticación de usuario mediante JWT con restricciones de acceso a nivel de página y servicios.</li>
        <li><b>API</b> - Una API REST completa con documentación Swagger.</li>
    </ul>

    <div class="mt-5">
        <p class="lead">Tecnologías Utilizadas:</p>
        <ul>
            <li>Frontend: Blazor WebAssembly Net Core 7.0</li>
            <li>Backend: ASP Net Core 7.0 - SQLite</li>
            <li>Cloud Server: Azure</li>
        </ul>
    </div>
</div>
